/* ... (unchanged styles) ... */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

#carouselExampleControls {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.btn-black {
    background-color: #fff; 
    color: #000; 
    border: 2px solid transparent; 
    margin-bottom: 1 inch; 
}

.btn-black.clicked {
    border-color: rgba(255, 121, 0, 1); }/* Change border color on click */


.footer {
    color: #fff;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}